/.idea
/.tmp
/.nyc_output
/.github
/.husky
/node_modules
/npm-debug.log
/scripts/**/*
/test
/.dependabot
/.huskyrc
/.lintstagedrc
/.editorconfig
/.eslintrc
/.eslintignore
/.gitattributes
/.gitignore
/.mocharc.js
/.npmignore
/.npmrc
/.commitlintrc.json
/.prettierignore
/.prettierrc
/CODE_OF_CONDUCT.md
/CONTRIBUTING.md
/GOVERNANCE.md
/http-request-in-editor-*.*.*.tgz
/railroad.html
